@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2");
}

:root {
  --clr-primary: #000;
  --clr-secondary: #34547a;
  --clr-tertiary: #c4c4c4;
  --clr-menu: var(--clr-primary);
  --clr-menu-hover: var(--clr-secondary);
  --clr-title: var(--clr-primary);
  --clr-text: #727272;
  --clr-text-button: #fff;
  --clr-bg-primary: #eeeff1;
  --clr-bg-secondary: var(--clr-secondary);
  --clr-bg-tertiary: #f9f9f9;
  --clr-bg-hover: #00bbd3;
  --clr-gradient: linear-gradient(90deg, var(--clr-secondary) 79%, var(--clr-tertiary) 79%);
  --font-size-base: 16px;
  --font-size-title: 30px;
  --1150_145-320_60: clamp(3.75rem, 1.702rem + 10.24vw, 9.063rem);
  --1150_120-320_40: clamp(2.5rem, 0.572rem + 9.64vw, 7.5rem);
  --1150_100-320_40: clamp(2.5rem, 1.054rem + 7.23vw, 6.25rem);
  --1150_87-320_55: clamp(3.438rem, 2.654rem + 3.92vw, 5.469rem);
  --1150_87-320_40: clamp(1.563rem, 0.069rem + 7.47vw, 5.438rem);
  --1150_87-320_25: clamp(1.563rem, 0.069rem + 7.47vw, 5.438rem);
  --1150_60-320_40: clamp(2.5rem, 2.018rem + 2.41vw, 3.75rem);
  --1150_55-320_40: clamp(2.5rem, 2.139rem + 1.81vw, 3.438rem);
  --1150_48-320_32: clamp(2rem, 1.614rem + 1.93vw, 3rem);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 1px solid blue;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  background-color: #fff;
  border: none;
  border-radius: 0;
  appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

img,
picture,
svg,
video {
  display: block;
}

img {
  object-fit: cover;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

label {
  cursor: pointer;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-base);
}

.page__main {
  flex-grow: 1;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 25px;
  max-width: min(1150px, 100%);
  box-sizing: content-box;
}

.header {
  background-color: var(--clr-bg-primary);
}

.header__content {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 70px;
  padding-block: var(--1150_55-320_40);
}

.scroll-none {
  overflow: hidden;
  touch-action: none;
}

.burger {
  position: relative;
  display: grid;
  justify-content: end;
  align-items: center;
}

.burger__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.burger__link {
  text-transform: uppercase;
  letter-spacing: 1.6px;
  color: var(--clr-menu);
  transition: color 0.2s ease-in-out;
}

.burger__close {
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 17px;
  height: 17px;
  background-color: transparent;
}

.burger__open {
  display: none;
  width: 36px;
  height: 36px;
  background-color: transparent;
}

.burger__overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: all 0.2s;
}

.title {
  font-size: var(--font-size-title);
  font-weight: 500;
  color: var(--clr-title);
}

.title--big {
  font-size: var(--1150_48-320_32);
}

.text {
  color: var(--clr-text);
  line-height: 1.65;
}

.button {
  padding-block: 1.56em;
  padding-inline: 2.56em;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: var(--clr-text-button);
  background-color: var(--clr-bg-secondary);
  transition: all 0.2s ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description {
  background-color: var(--clr-bg-primary);
}

.description__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: var(--1150_87-320_25);
  padding-bottom: var(--1150_145-320_60);
}

.description__image {
  background-image: url("./../img//svg/monitor.svg");
  background-repeat: no-repeat;
  background-position: center 13px;
  background-size: 357px 233px;
  min-height: 250px;
}

.description__service {
  padding-left: 15px;
}

.description__title,
.description__text {
  padding-bottom: var(--1150_60-320_40);
}

.about {
  background-color: var(--clr-bg-tertiary);
}

.about__content {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  row-gap: 50px;
  padding-top: var(--1150_120-320_40);
  padding-bottom: var(--1150_100-320_40);
}

.about__text {
  max-width: 540px;
  text-align: center;
}

.achievements {
  background-color: var(--clr-bg-secondary);
}

.achievements__content {
  padding-top: var(--1150_87-320_55);
  padding-bottom: var(--1150_87-320_40);
}

.achievements__list {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  overflow-x: auto;
}

.achievements__item {
  min-width: 141px;
  min-height: 50px;
  background-image: url("./../img/svg/achievement.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.skills {
  background-color: var(--clr-bg-tertiary);
}

.skills__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: var(--1150_100-320_40);
}

.skills__info {
  padding-top: 100px;
}

.skills__title {
  margin-bottom: 50px;
  text-transform: none;
}

.skills__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 445px;
}

.skills__item {
  line-height: 1;
}

.skills__item::after {
  content: "";
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  height: 4px;
  background: var(--clr-gradient);
}

.skills__image {
  padding-left: 20px;
  width: 555px;
  min-height: 450px;
  background-image: url("./../img/./photo/photo.webp");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: cover;
}

.info {
  background-color: var(--clr-bg-primary);
}

.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--1150_100-320_40);
}

.info__content video {
  width: 95.5%;
  height: auto;
}

.info__title {
  margin-bottom: 50px;
}

.info__text {
  max-width: 540px;
  margin-bottom: 60px;
  text-align: center;
}

.info .video {
  position: relative;
  width: 100%;
}

.info .video__display {
  margin-inline: auto;
}

.info .video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-image: url("./../img/./../img/svg/play-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media (max-width: 1150px) {
  .achievements__item {
    min-height: 75px;
  }
}

@media (max-width: 1075px) {
  .skills__content {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 60px;
    width: 100%;
  }

  .skills__info {
    padding-top: 0;
    width: 100%;
  }

  .skills__title {
    text-align: center;
  }

  .skills__list {
    margin-inline: auto;
  }
}

@media (max-width: 1000px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 250px;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .burger__list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 35px;
    padding-block: 50px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

  .burger--visible {
    transform: none;
  }

  .burger__open {
    display: block;
    margin-left: auto;
  }

  .burger__close {
    display: block;
  }

  .burger__overlay--active {
    display: block;
    z-index: 1;
    opacity: 0.7;
  }

  .burger__close--visible {
    display: block;
  }

  .description__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 80px;
  }

  .description__service {
    display: grid;
    justify-items: center;
    padding: 0;
  }

  .description__title,
  .description__text {
    max-width: 85%;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .about__text {
    max-width: 85%;
  }

  .skills__title {
    margin-bottom: 40px;
  }

  .skills__image {
    width: 100%;
    min-height: clamp(15.625rem, 5.099rem + 52.63vw, 28.125rem);
  }

  .info .video__play {
    width: 70px;
    height: 70px;
  }

  .info__content video {
    width: 100%;
  }

  .info__title,
  .info__text {
    margin-bottom: 40px;
  }

  .info__text {
    max-width: 85%;
  }
}

@media (max-width: 450px) {
  .text {
    font-size: 15px;
  }

  .description__content {
    row-gap: 0;
  }

  .description__image {
    min-height: 0;
  }

  .about__content {
    row-gap: 40px;
  }
}

@media (max-width: 400px) {
  .burger {
    width: 100%;
  }

  .burger__overlay--active {
    opacity: 0;
  }

  .burger__list {
    row-gap: 50px;
  }

  .info .video__play {
    width: 50px;
    height: 50px;
  }
}

@media (any-hover: hover) {
  .burger__link:hover {
    color: var(--clr-menu-hover);
  }

  .button:hover {
    background-color: var(--clr-bg-hover);
  }
}